@use "../abstarct/" as *;

.article {
  --flow-spacer: 2rem;
  width: min(100% - 1.5rem, 46rem);
  margin-inline: auto;
  padding-block: 1.5rem;

  @include mq(medium) {
    padding-block: 4rem;
  }

  &--img {
    width: 100%;
    aspect-ratio: 13 / 5;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--br-3);
      margin-bottom: 0.78125rem;
    }
  }
}
