html {
  font-size: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-sans);
  font-size: var(--fs-500);
  font-weight: var(--fw-400);
  color: var(--clr-neutral-800);
  line-height: 150%;
}

section {
  padding-block: var(--section-padding);
}

ul,
ol {
  list-style: none;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

::selection {
  background-color: var(--clr-primary-400);
  color: var(--clr-white);
}
